name: Build

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
      - '!*norel*'

jobs:
  prep-release:
    name: Setup Environment
    runs-on: ubuntu-latest

    steps:
      - name: Set Env
        id: env
        run: |
          export RELEASE_VERSION="${GITHUB_REF#refs/*/}"
          export P_NAME="c-wspp-websocket-sharp"
          export FILE_PRE="${P_NAME}_${RELEASE_VERSION}"

          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_OUTPUT
          echo "P_NAME=$P_NAME" >> $GITHUB_OUTPUT
          echo "FILE_PRE=$FILE_PRE" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Generate compiled LICENSE
        id: genlicense
        run: |
          python scripts/genlicense.py ./LICENSE.txt ./c-wspp/LICENSE.third-party >> "$GITHUB_OUTPUT"

    outputs:
      env_relv: ${{ steps.env.outputs.relv }}
      env_pname: ${{ steps.env.outputs.pname }}
      env_fpre: ${{ steps.env.outputs.fpre }}
      license: ${{ steps.genlicense.outputs.license }}

  build-win:
    strategy:
      matrix:
        arch: { sys: ucrt64, env: ucrt-x86_64, net: x64 }
        tgt: [ netstandard2.0, net35 ]
        include:
          - arch: { sys: mingw32, env: i686, net: x86 }
            tgt: [ net35 ]

    name: Build Windows ${{matrix.net}}
    runs-on: windows-latest
    needs: prep-release

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          update: true
          install: >-
            mingw-w64-${{matrix.env}}-gcc
            mingw-w64-${{matrix.env}}-cmake
            mingw-w64-${{matrix.env}}-openssl

      - name: Build c-wspp
        working-directory: c-wspp
        run: |
          mkdir build
          cd build
          cmake ..  -DCMAKE_POLICY_VERSION_MINIMUM=3.22
          ninja
        shell: msys2 {0}

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Setup Project
        run: |
          dotnet restore
          dotnet clean

      - name: Build Project
        working-directory: ${{ env.MOD_NAME }}
        run: |
          dotnet build --arch ${{matrix.net}} .\websocket-sharp

      - name:

  build-mac:
    strategy:
      matrix:
        arch:
          - { sys: x86_64, net: x64 }
        tgt: [ netstandard2.0, net35 ]

    name: Build macOS x86_64
    runs-on: macos-15
    needs: prep-release

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

  build-linux:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        arch:
          - { sys: amd64, net: x64 }
        tgt: [ netstandard2.0, net35 ]

    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: prep-release

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
